<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>GS</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body ng-controller="UserController">
  <a href="#" ng-click="logout()">Logout</a>
  <a href="#" ng-click="login('user@iquest.cz','password')">Login</a>
  User: {{user.email}}
  <div ng-view></div>

  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
</body>
</html>
